<div id="page-card" class="card text-center m-4 shadow rounded">
  <div class="card-body">
    The Tech Blog
  </div>
</div>


<div class="container-fluid mint-container justify-content-center py-2">
  <div id="post-card" class="card m-4 border-4">

    <div id="post-card-title" class="card-title px-3">
      Sign In
    </div>

    <div class="card-body">

      <form class="form signup-form">
        <div class="form-group">
          <label for="username-signup">Username</label>
          <input type="text" class="form-control" id="username-signup" placeholder="Enter username">
        </div>
        </br>
        <div class="form-group">
          <label for="password-signup">Password</label>
          <input type="password" class="form-control" id="password-signup" placeholder="Enter password">
        </div>
        </br>
        <button type="submit" class="btn btn-lg">Sign Up</button>
        </br></br>
        <a href="/login"class="login">Login</a>
      </form>

    </div>

  </div>
</div>

<script src="/js/signup.js"></script>