:root {
  --brown: #231010;
  --mint: #e0ecd4;
}

body {
  background-color: var(--brown);
  color: var(--mint);
  font-family: sans-serif;
}

nav ul {
  padding: 0px;
}

nav ul li {
  display: inline;
  padding-right: 20px;
}

nav ul li a {
  color: var(--mint);
  font-size: 1.5rem;
  text-decoration: none;
}

a {
  text-decoration: none;
}

#title-card {
  font-size: 2rem;
  width: 16rem;
  background-color: var(--mint);
  font-weight: bold;
}


#post-card {
  font-size: 1rem;
  background-color: var(--mint);
  color: var(--brown);
}

#post-title {
  font-size: 2rem;
  background-color: var(--brown);
  color: var(--mint);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#dashboard-card {
  font-size: 2rem;
  background-color: var(--mint);
  color: var(--brown);
  font-weight: bold;
  display: flex;
}
#dashboard-title {
  font-size: 2rem;
  background-color: var(--mint);
  color: var(--brown);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span {
  font-size: 1rem;
}

.btn {
    background-color: var(--brown);
    color: var(--mint);
    font-size: 1.3rem;
}
.post-btn {
  background-color: var(--mint);
  color: var(--brown);
  font-size: 1.3rem;
  font-weight: bold;
}

.signup,
.login {
    font-size: 1.2rem;
    color: var(--brown);
    text-decoration: none;
}
